div {
	align-items: center;
}

button {
	align-self: flex-start;
	margin-top: 20px;
}

#menuButton {
	display: inline-block;
	padding: 10px 20px;
	background-color: #556988;
	color: #ffffff;
	text-decoration: none;
	border-radius: 6px;
	transition: background-color 0.3s ease;
}

#menuButton:hover {
	background-color: #213a60;
}
