
/*
https://i.ytimg.com/vi/68EM8gHYCYs/maxresdefault.jpg"
*/
.App {
  text-align: center;
}
body{
  background-color: #282c34;
  background-repeat: repeat;
  background-size:stretch;
  background-image: url();
  margin-left: auto;
  text-align: center;
  margin-bottom: 5px;
  color:aquamarine;
}
h1{
  font-weight: lighter;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(97, 171, 203);
  text-align: center;
  font-size: 28px;
  margin: auto;
  margin-top: 18px;
}
h2{
  font-weight: lighter;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(155, 193, 212);
  text-align: center;
  font-size: 20px;
}
p{
  font-weight: lighter;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(238, 241, 243);
  text-align: center;
  font-size: 15px;
}
label{
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color:rgb(155, 193, 212);
  font-size: 14px;
}
li{
  font-weight: lighter;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(255, 255, 255);
  text-shadow:8px 8px 8px black;
  text-align: center;
}
#footer{
  font-weight: bold;
  font-size: 16px;
  color:rgb(118, 131, 136);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-image {
  filter: brightness(50%) contrast(80%); /* Adjust the brightness and contrast as needed */
  position: relative;
}

.background-image::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (0.5) as needed */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.text-element {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Adjust the shadow color and opacity as needed */
}

.content-container {
  padding: 1rem;
  border-radius: 4px;
}
