.card {
    text-align: center !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    max-width: 300px;
    max-height: 300px;
    background-color: rgba(5, 5, 5, 0.484);
    padding: 7px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px);
    margin:auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-img{
    max-height: 100px;
}