.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-bottom: 2rem;
  margin: auto;
}

input,
select,
textarea,
button {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  width: 100%;
}

button {
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

h1,
h2 {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Adjust the shadow color and opacity as needed */

}

h1 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
