@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 210 40% 98%;
		--foreground: 150 50% 10%;
		--card: 0 0% 100%;
		--card-foreground: 150 50% 10%;
		--popover: 0 0% 100%;
		--popover-foreground: 150 50% 10%;
		--primary: 142 76% 36%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 199 89% 48%;
		--secondary-foreground: 355.7 100% 97.3%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 35 90% 50%;
		--accent-foreground: 150 50% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 142 76% 36%;
		--radius: 0rem;
	}

	.dark {
		--background: 150 50% 5%;
		--foreground: 210 40% 98%;
		--card: 150 50% 8%;
		--card-foreground: 210 40% 98%;
		--popover: 150 50% 8%;
		--popover-foreground: 210 40% 98%;
		--primary: 142 70% 50%;
		--primary-foreground: 144.9 80.4% 10%;
		--secondary: 199 89% 48%;
		--secondary-foreground: 0 0% 100%;
		--muted: 150 30% 15%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 35 90% 50%;
		--accent-foreground: 0 0% 10%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 150 30% 15%;
		--input: 150 30% 15%;
		--ring: 142 70% 50%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground font-sans;
		font-feature-settings: "rlig" 1, "calt" 1;
	}
}